@import '../../styles/variables';

.listing {
  display: grid;
  grid-template: 'currency amount value' / 1fr 1fr 1fr;
  width: 100%;
  padding: 10px 15px;

  p {
    margin: 0;
  }

  &:first-child {
    padding-top: 15px;
  }

  &:last-child {
    padding-bottom: 15px;
  }
}

.currency {
  grid-area: 'currency';
  font-weight: 500;
}

.amount {
  grid-area: 'amount';
  color: $secondaryText;

  input[type=number] {
    font-size: 1em;
    width: 50%;
    background:transparent;
    border: none;

    &::-webkit-inner-spin-button { 
      -webkit-appearance: none; 
      margin: 0; 
    }

    &:focus {
      border: initial;
      background: white;
    }
  }
}

.value {
  grid-area: 'value';
  text-align: right;
}
